<?xml version="1.0" encoding="utf-8"?>

<configuration>
	
	<connectionStrings>
		<add name="main" connectionString="data source=localhost\SQLEXPRESS;initial catalog=YourDiveClub;persist security info=True;user id=sa;password=Pa55word;multipleactiveresultsets=True;" />
	</connectionStrings>
	
</configuration>